* {
    margin: 0;
    padding: 0;
}

.FormParent {
    /* border: solid 2px yellow; */
    height: 600px;
    display: flex;
    flex-flow: row;

    justify-content: center;
    align-items: center;
}

.sendForm {
    /* border: solid 2px red; */
    display: flex;
    flex-flow: column;

    width: 45%;
    height: 80%;

    /* margin-right: 20px; */

    justify-content: center;
    justify-content: space-evenly;
}

.sendTitle {
    color: white;

    font-size: 32px;

    margin-left: 40px;
}

.recieveForm {
    /* border: solid 2px blue; */
    display: flex;
    flex-flow: column;

    width: 45%;
    height: 80%;

    /* margin-left: 20px; */

    justify-content: center;
    justify-content: space-evenly;
}

.recieveTitle {
    color: white;

    font-size: 32px;

    margin-left: 40px;
    /* margin-bottom: 100px; */
}

p {
    color: white;
    margin-left: 40px;
    /* margin-top: 15px; */
}

.comment {
    width: 40%;
    height: 100%;
    margin-bottom: 20px;
}


.btnSend {
    width: 20%;
    height: 6%;

    margin-left: 40px;
    margin-top: 10px;

    border-radius: 6px;
    border: none;
}

.btnRecieve {
    width: 20%;
    height: 6%;

    margin-left: 40px;
    /* margin-top: 30px; */

    border-radius: 6px;
    border: none;
}